<%- include('header') -%>

<title>Register</title>
</head>
<body class="text-center">   
<main class="form-signin">
  <form action="/register" method="POST">
    <img class="mb-4" src="images/logo_img.png" alt="" width="80" height="70">
    <h1 class="h3 mb-3 fw-normal">Enter details to register</h1>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="name" placeholder="name@example.com">
        <label for="floatingInput">Name</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>


    
  </body>
</html>
